@import '../assets/styles/variables.scss';
.home{
    padding-top:10vh;
    align-items: center;
    justify-content: center;
}
.section-1{
    margin-top: 5vh;
    margin-bottom: 0vh;
    padding:10vh 0vh;
    align-items: center;
    justify-content: center;
    .card{
        margin-top:3vh;
        min-height: 50vh;
    }
}
.section-2{
    padding:10vh 0vh;
    align-items: center;
    justify-content: center;
    background: rgba($color1,0.8);
    color:$color4;
    *{
        color:$color4;
    }
    img{
        max-width: 100px;
    }
    .icons{
        font-size: 3vh;
        margin-top:0.5vh;
        margin-bottom:2vh;
        *{
            margin:0.5vh
        }
        a{
            :hover{
                *{
                    color:$color15;
                }
            }
        }
    }
}