@import 'variables.scss';

body {
  overflow-x: hidden;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(12px + .5vmin);
  font-family: $font-1;
  font-weight: 400;
  color:$color0;
  text-align: center;
}
#root{
  width:100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: ease-in-out 0.2s;
}

ol,
ul,
dl {
    margin: 0px;
}

h1{
  font-size: 3em;
  font-weight: 300;
}
h2{
  font-size: 2em;
  font-weight: 400;
}
h3{
  font-size: 1.5em;
  font-weight: 300;
}
span{
  letter-spacing: 2px;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: $color2;
        text-decoration: none;
    }
}

.flex{
  display: flex;
}

.partial {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.partial-25 {
  width: 25%;
  display: flex;
  flex-direction: row;
}

.partial-50 {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.partial-75 {
  width: 75%;
  display: flex;
  flex-direction: row;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.space-btw {
  justify-content: space-between;
}

.center-v {
  align-items: center;
}

.center-h {
  justify-content: center;
}

.start-v {
  align-items: flex-start;
}

.start-h {
  justify-content: flex-start;
}

.wrapper {
  width: 72%;
  max-width: 1300px;
}

.wrap {
  flex-wrap: wrap;
}

.uppercase {
  text-transform: uppercase;
}

.margin-top {
  margin-top: 2vh;
}

.margin-btm {
  margin-bottom: 2vh;
}
.margin-l{
  margin-left: 2vh;
}
.margin-r{
  margin-right: 2vh;
}
.h-100{
  height: 100%;
}
.backdrop{
  position: fixed;
  top:0;
  left:0;
  background: rgba(0, 0, 0, 0.75);
  display:flex;
  justify-content: center;
  align-items: center;
  //overflow: hidden;
  z-index: 9999;
  height: 100vh;
  width:100%;
}
.b-shadow-1 {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
}

.b-shadow-2 {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
}

.b-shadow-2-i {
  -webkit-box-shadow: 0px 0px -3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px -3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px -3px 0px rgba(0, 0, 0, 0.15);
}
.padding{
  padding: 2vh
}

.line {
    margin-top: 12px;
    margin-bottom: 12px;
    height: 4px;
    border-radius: 2px;
    width: 15%;
    max-width: 200px;
    min-width: 150px;
    border-bottom: solid 4px $color2;
}


.form,
.form-dark,
.form-light{
    .label{
        font-size: calc(18px + .5vmin);
        margin-top:2vh;
        margin-bottom:0.5vh;
    }
    min-width: 250px;
    width:90%;
    textarea,
    input{
        width:100%;
        font-size: calc(12px + .5vmin);
        padding: 1vh;
    }
}

.form{
    .label{
       columns: $color1;
    }
    textarea,
    input{
        background: $color4 ;
        border-radius: 5px;
        color: $color1;
        &:focus {
            border-left: 2px solid $color2;
            border-right: 2px solid $color3;
            border-top: 2px solid $color3;
            border-bottom: 2px solid $color2;
            outline: none;
        }
    }
}

.form-light{
    .label{
       columns: $color1;
    }
    textarea,
    input{
        background: $color00;
        border-radius: 5px;
        color: $color1;
        &:focus {
            border-left: 2px solid $color2;
            border-right: 2px solid $color3;
            border-top: 2px solid $color3;
            border-bottom: 2px solid $color2;
            outline: none;
        }
    }
}

.form-dark{
    .label{
       columns: $color1;
    }
    textarea,
    input{
        background: $color1;
        border-radius: 5px;
        color: $color4;
        &:focus {
            border-left: 2px solid $color2;
            border-right: 2px solid $color3;
            border-top: 2px solid $color3;
            border-bottom: 2px solid $color2;
            outline: none;
        }
    }
}


@media(max-width:1600px) {
    .wrapper {
        width: 80%;
    }

}

@media(max-width:1440px) {
    .wrapper {
        width: 82%;
    }
}

@media(max-width: 1150px) {
    .wrapper {
        width: 90%;
    }
}

@media(max-width: 600px) {

}

