//fonts
@import url('https://fonts.googleapis.com/css?family=Jura:300,400,700&subset=latin-ext');
$font-1:'Jura',
sans-serif;
//font-sizes
$size0:60px;
$size1:39px;
$size2:20px;
$size3:14px;
$size4:13px;
$size5:12px;
// Palette color codes */
$color0: #000;
$color1: #312A6C;
$color2: #9370DB;
$color3: #BA55D3;
$color4: #eceff3;
$color5: #b8bbc7;
$color6: #7e7e7e;
$color7: #777777;
$color8: #00e1ff;
$color9: #0c6774;
$color10: #ba55d3;
$color11: #9370db;
$color12: #00A99D;
$color13: #852D91;
$color14: #fff;
$color15: #02e9d9;